/* .voteButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 1.3vh;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
  width: 6vh;
}

.voteButton:hover {
  color: #ffffff !important;
  background: #94097f;
  border-color: #94097f !important;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
} */

.voteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
