
.navBarContainer {
  margin: 2vh 0 2vh 0;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: teal;
  width: 100%;
}

.pageHeaderContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: teal;
  width: 100%;
}

