
.navBarContainer {
  margin: 2vh 0 2vh 0;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: teal;
  width: 95%;
  /* need to amend the width here, and make a big container that will hold the whole  page, and will allow for borders along the page 
  
  need to sort out the padding underneath the title too - not sure why its this size */
}