.formContainer {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  margin: auto;
}

.dropDown {
  font-family: "Quicksand";
  font-size: 1.8vh;
  margin: 0 1vh 0 1vh;
  background: white;
  color: #084c61;
  padding: 1vh;
  box-shadow: 1px 1px 8px #330033;
}

.formLabel {
  font-family: "Quicksand";
  color: #330033;
  font-size: 1.9vh;

}

.goButton {
  font-family: "Quicksand";
  background-color: #e3b505;
  font-size: 2vh;
  padding: 1vh;
  color: white;
}




