.articleContainer {
  text-align: center;
  align-self: center;
  width: 100%;
  border: teal solid 3pt;
  margin: 3vh 0 3vh 0;
  display: grid;
  background-color: teal;
  /* need to add three columns and rows, and follow the pattern */
}

.articleTitle {
  font-size: 2.8vh;
  color: white;
}

.commentButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 1.3vh;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
  width: 15vh;
}

.commentButton:hover {
  color: #ffffff !important;
  background: #94097f;
  border-color: #94097f !important;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
}

.readMeButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 1.3vh;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
  width: 15vh;
}

.readMeButton:hover {
  color: #ffffff !important;
  background: #94097f;
  border-color: #94097f !important;
  transition: all 0.4s ease 0s;
  font-size: 1.7vh;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh;
}

.p1 {
  color: white;
}

.p2 {
  color:white;
}

.p2 {
  color: white;
}