 .formContainer {
	display: flex;
	flex-direction: column;
  padding: 2vh;
	margin: auto;
}

.dropDown {
	font-family: 'Quicksand';
	font-size: 2.5vh;
	margin: 0 1vh 0 1vh;
	background: white;
	color: #084C61;
	padding: 1vh;
}

.formLabel {
	font-family: 'Quicksand';
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */