.commentContainer {
  text-align: center;
  align-self: center;
  background-color: #4F6D7A;
  margin: 3vh 0 3vh 0;
  width: 80%
}

.h2 {
  color: white;
}

.h3 {
  color: white;
}

.body {
  color: white;
  padding: 3vh;
  text-align: center;
}