.h2 {
  font-size: 6.5vh;
  color: #db504a;
  text-align: center;
  font-family: "Quicksand";
}

.h3 {
  font-size: 4vh;
  color: #db504a;
  text-align: center;
  font-family: "Quicksand";
}

.p {
  font-size: 2vh;
  color: #db504a;
  text-align: center;
  font-family: "Quicksand";
}
