.h2 {
  font-size: 6.5vh;
  color: #DB504A;
  text-align: center;
  font-family: 'Quicksand';
}

.h3 {
  font-size: 4vh;
  color:#DB504A;
  text-align: center;
  font-family: 'Quicksand';
}

.p {
  font-size: 2vh;
  color: #DB504A;
  text-align: center;
  font-family: 'Quicksand';
}

