.postContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.textBox {
  color: #084c61;
  align-self: center;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
}

.textBoxLabel {
  align-self: center;
  padding: 1vh;
}

.usernameInput {
  border: 5px solid #56a3a6;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 8px #330033;
  padding: 2vh;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  font-family: "Quicksand";
  width: 47vh;
  word-wrap: break-word;
  color: #084c61;
  align-self: center;
}

.signInButton {
  color: #084c61 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #084c61 !important;
  border-radius: 6px;
  display: inline;
  transition: all 0.3s ease 0s;
  font-size: 1.75vh;
  font-family: "Quicksand";
  align-self: center;
}

.signInButton:hover {
  color: #084c61 !important;
  border-radius: 50px;
  border-color: #084c61 !important;
  transition: all 0.3s ease 0s;
}

.signInButton:after {
  color: #084c61 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.signInMessage {
  color: #084c61;
  font-size: 4vh;
  text-align: center;
  font-family: "Quicksand";
}

.signInButton {
  color: #084c61 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #084c61 !important;
  border-radius: 6px;
  display: inline;
  transition: all 0.3s ease 0s;
  font-size: 1.75vh;
  font-family: "Quicksand";
  align-self: center;
}

.signIn:hover {
  color: #084c61 !important;
  border-radius: 50px;
  border-color: #084c61 !important;
  transition: all 0.3s ease 0s;
}

.signIn:after {
  color: #084c61 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.signInMsgContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
