.topicButton {
  color: #084c61 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 2vh;
  border: 4px solid #084c61 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 2vh;
  width: 15vh;
  font-family: "Quicksand";
  font-weight: 600;
}

.topicButton:hover {
  color: #ffffff !important;
  background: #e3b505;
  border-color: #e3b505 !important;
  transition: all 0.4s ease 0s;
  font-size: 2vh;
  font-weight: 600;
}
