.topicButton {
  /* background: rgb(28, 184, 65);
   padding: 2vh;
   font-size: 2vh;
   height: 10vh;
   width: 100%;
   margin: 10px;  */
  color: #084C61 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 2vh;
  border: 4px solid #084C61 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1.8vh;
  width: 15vh;
}

.topicButton:hover {
  color: #ffffff !important;
  background: #E3B505;
  border-color: #E3B505 !important;
  transition: all 0.4s ease 0s;
  font-size: 1.8vh;
}